*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.judul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 56px;
    color: #1F8C8C;
}

.subjudul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #F2EBDC;
    font-size: 24px;
}

.hijauGradient{
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
}

.bgJudul{
    border-radius: 1vh;
}

.details{
    width: 400px;
    height: 50vh;
}

.statsBoard{
    width: 100%;
    max-width: 1200px;
}

.cardDetails{
    max-height: 75vh;
}

.card{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.leaderboardTitle{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.leaderboardList{
    padding: 0.5rem;
    margin: 1rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #F2EBDC;
    font-size: 24px;
}



.subjudulStat{
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.statBox{
    margin: auto;
    margin-top: 1rem;
    max-width: 300px;
}

.nomorStat{
    color: #F2EBDC;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
}