
.gradasi_header {
    font-size: 72px;
    color: #1F8C8C;
}

backg
* {
    box-sizing: border-box;
}

body{
    background-color : aquamarine;
}

/* Style the search field */
form.searchku input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.searchku button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.searchku button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.searchku::after {
    content: "";
    clear: both;
    display: table;
}
.search-result{
    border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}