<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Answer Quiz</title>
    <!--load bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <!--load icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/jawabForm.css">

</head>
<body th:inline="text">
<body>
<header>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand logo" href="#"><img src="/svg/logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'homepage:home'%}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="{% url 'study:searchstudy'%}" class="nav-link">Create Quiz</a>

                            <!-- <div class="dropdown-content">
                              <a href="{% url 'study:study'%}">Tambah Studi</a>
                              <a href="{% url 'study:searchstudy'%}">Cari Studi</a>
                            </div> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="{% url 'study:searchstudy'%}" class="nav-link">Answer Quiz</a>

                            <!-- <div class="dropdown-content">
                              <a href="{% url 'study:study'%}">Tambah Studi</a>
                              <a href="{% url 'study:searchstudy'%}">Cari Studi</a>
                            </div> -->
                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown">
                      <div class="dropdown">
                        <a href="{% url 'event:carievent'%}" class="nav-link">Leaderboard</a>
                        <div class="dropdown-content">
                          <a href="{% url 'event:tambahevent'%}">Tambah Event</a>
                          <a href="{% url 'event:carievent'%}">Cari Event</a>
                        </div>
                      </div>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="{% url 'customer:customer'%}">Pesan</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="" class="nav-link" style="background-color: #1F8C8C; border-radius: 2em; color: #ffffff; padding-left: 2em; padding-right: 2em; font-weight: 700;">Hi, anonymous</a>
                            <div class="dropdown-content">
                                <a href="{% url 'login:logout'%}">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container text-center">
    <h1 class="mb-2">Answer The Quiz</h1>
    <p class="mb-3" style="color: #333333;"> You can answer here</p>
</div>

<div id="quiz-div">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto p-4 col-md-7">
                    <input type="hidden" th:value="${durationLeft}" id="durationLeft">
                <div class="mx-auto p-4 col-md-10">
                    <p id="timerr"></p>
                    <!-- <h1 class="mb-4">Create Your Quiz</h1> -->

                    <div id="title">

                    </div>
                    <div id="inject1">


                    </div>

                    <button class="btn btn-light px-3 py-2 primary-btn float-center" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/jawabForm.js}" type="text/javascript"></script>
</body>
</html>
