<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz Profile</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" th:href="@{/css/quizStyle.css}">
  </head>

  <body th:inline="text">
    <div class="judul">Quiz Profile</div>
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex flex-column details">
          <div class="container hijauGradient bgJudul"><div class="p-2 subjudul">Details</div></div>
          <div class="p-2">
            <div class="card cardDetails" style="border-radius: 1.5vh">
              <img
                class="card-img-top"
                src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image/6b4646dbb8a7.jpeg"
                alt="Card image cap" style="border-radius: 1.5vh 1.5vh 0vh 0vh;"
              />
              <div class="card-body">
                <input type="hidden" th:value="${idQuiz}" id="idQuizInput">
                <div id="dataQuiz">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column statsBoard">
            <div class="card" style="border-radius: 1.5vh">
              <div class="card-header subjudul hijauGradient " style="border-radius: 1.5vh">Leaderboard</div>
              <div class="card-body" style="padding-top:0px">
                <div id="resultLeaderboard">
              </div>
              </div>
            </div>
          <div class="p-2">
            <div class="card" style="border-radius: 1.5vh">
              <div class="card-header subjudul hijauGradient bgHijau" style="border-radius: 1.5vh">Statistics</div>
              <div class="card-body">
                <div class="row" >
                  <div class="col-sm text-center d-flex flex-column hijauGradient statBox" style="border-radius: 1.5vh">
                    <div class="subjudulStat">Average Score</div>
                    <div class="nomorStat" id="avgScore"></div>
                  </div>
                  <div class="col-sm text-center d-flex flex-column hijauGradient statBox" style="border-radius: 1.5vh">
                    <div class="subjudulStat">Average Duration</div>
                    <div class="nomorStat" id="avgDuration"></div>
                  </div>
                  <div class="col-sm text-center d-flex flex-column hijauGradient statBox" style="border-radius: 1.5vh">
                    <div class="subjudulStat">Total Attempt</div>
                    <div class="nomorStat" id="ttlAttempt">5</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/quizProfile.js}" type="text/javascript"></script>
  </body>
</html>
